{% extends 'base.html.twig' %}

{% block title %}Chat{% endblock %}

{% block body %}

<div class="example-wrapper">
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <h1>Channel {{ channel.name }}</h1>
    <div class="container" style="height: 600px">
        <div class="container bg-light h-75">
            {% for message in messages %}
                <div class="row w-75 float-right">
                    <p class="alert alert-info w-100">{{ message.content }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="container row">
            <input id="message" class="input-group-text col-sm-9" placeholder="Message" type="text" />
            <button id="submmit" type="submit" class="btn btn-success col-sm-3">Send</button>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script>
        const url = new URL('http://localhost:3000/.well-known/mercure');
        url.searchParams.append('topic', 'http://localhost:81/message/{id}');
        const eventSource = new EventSource(url);

        eventSource.onmessage = ({data}) => {
            const message = JSON.parse(data);
             document.querySelector('.bg-light').insertAdjacentHTML(
                'beforeend',
                `<div class="row w-75 float-right">
                    <p class="alert alert-info w-100">${message.content}</p>
                </div>`
            )
        }

        const submit = document.querySelector('button');
        submit.onclick = e => {
            const message = document.getElementById('message');
            const data = {
                'content': message.value,
                'channel': {{ channel.id }}
            }
            console.log(data);
            fetch('/message', {
                method: 'POST',
                body: JSON.stringify(data)
            }).then((response) => {
                message.value = '';
                console.log(response);
            });
        }
    </script>
{% endblock %}